.button {
  padding: 0.7em 1em;
  box-sizing: border-box;
  font-size: $glob_font-size_h5;
  letter-spacing: $glob_letter-spacing-sm;
  border: 0.1em solid $glob_dove_gray;

  &:link {
    color: $glob_black;
    text-decoration: none;
    transition: 0.2s;
  }

  &:visited {
    color: $glob_black;
    text-decoration: none;
  }

  &:focus,
  &:hover,
  &:active {
    color: $glob_black;
    text-decoration: none;
  }
}
