.page-footer {
  @include glob_blank-margins;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  background: $glob_resolution_blue;
  padding-bottom: $blank-space - 2%;

  &__heading {
    color: $glob_white;
  }
}
