.page {
  font-size: $glob_font-size_base;
  color: $glob_white;
  height: 100%;

  @media screen and (min-width: $glob_screen-sm) {
    font-size: 20px;
  }

  @media screen and (min-width: $glob_screen-lg) {
    font-size: 16px;
  }
}

.page__body {
  line-height: $glob_line-height;
  font-family: $glob_font-stack_serif;
  height: 100%;
}

.page__page-layout {
  height: 100%;
}

/*
.page__page-layout {
  
  display: grid;
  grid-gap: 0 0;  
  grid-template-areas:
    '. header header-blank'
    '. content content';
  grid-template-columns: minmax(1em, .1fr) 1fr minmax(1em, .1fr);
}*/
