// apply to <html>
.page {
  font-size: $glob_font-size_base;
  color: $glob_black;
  height: 100%;
  scroll-behavior: smooth;

  // apply to <body>
  &__body {
    line-height: $glob_line-height;
    font-family: $glob_font-stack_sans-serif;
    height: 100%;
  }

  /* Chrome transition fires on page load, 
   * fix this bug by applying transition: none to all descendant of <body>
   */
  &__preload * {
    transition: none !important;
  }

  /* helper class (wrapper), enable if needed
  &__page-layout {} */
}
