@import "_sass-global.scss";

// *********************
// * Index page styles *
// *********************

.page {
  height: 100%;

  background-color: white;

  scroll-behavior: smooth;
  background-attachment: fixed;

  &__body {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    min-height: 100%;
  }
}

.header {
  position: fixed;
  z-index: $zindex-fixed;

  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0.6rem 0.6rem 1rem 0.6rem;

  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 0)
  );

  font-size: $font-size_lg;

  @media only screen and (min-width: $screen-md) {
    padding: 1rem 2rem 1rem 2rem;
  }
}

.main {
  display: grid;
  row-gap: 4rem;
  padding: 4rem 0.6rem 1rem 0.6rem;

  @media only screen and (min-width: $screen-md) {
    padding: 7rem 2rem 0 2rem;
  }
}

.my-photo {
  overflow: hidden;
  object-fit: cover;
  border-radius: 100000px;
  width: 40px;
  height: 40px;

  &__img {
    width: auto;
    object-fit: cover;
    transform: scale(1.3);
    height: 40px;
    margin-left: -5px;
  }

  @media only screen and (min-width: $screen-md) {
    width: 70px;
    height: 70px;

    &__img {
      height: 70px;
    }
  }
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: flex-end;
  column-gap: 1rem;
  overflow: hidden;
  white-space: nowrap;

  font-family: $font-stack_opensans;
  font-size: $font-size_sm;

  @media only screen and (min-width: $screen-md) {
    font-size: $font-size_lg;
  }
}

.nav > *:not(:last-child) {
  padding-right: 1.5rem;

  @media only screen and (min-width: $screen-xs) {
    padding-right: 1rem;
  }
}

// Intro

.intro {
  max-width: 800px;
}

// Contacts

.contacts {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: flex-start;
  column-gap: 1rem;

  font-family: $font-stack_opensans;
  font-size: $font-size_sm;

  &__btn {
    border: 1px solid $color_sand;
    border-radius: 4px;
    padding: 0.3rem 0.45rem;
    display: inline;

    color: $color_sand;
    text-decoration: none;

    &:link {
      transition: color 0.35s ease-out, border 0.35s ease-out;
    }

    &:visited {
      color: $color_sand;
    }

    &:hover,
    &:focus,
    &:active {
      color: $color_gray-darken;
      border-color: $color_gray-darken;
    }
  }
}

// About

.about {
  scroll-margin-top: 3rem;

  @media only screen and (min-width: $screen-md) {
    scroll-margin-top: 5rem;
  }
}

// Projects

.projects {
  scroll-margin-top: 3rem;

  @media only screen and (min-width: $screen-md) {
    scroll-margin-top: 5rem;
  }

  &__list {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(auto, 100%));
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "about"
      "buttons";

    row-gap: 1rem;
    column-gap: 1rem;
    box-sizing: border-box;

    @media only screen and (min-width: $screen-lg) {
      grid-template-columns: repeat(auto-fit, minmax(auto, 340px));
    }
  }

  &__module:not(:last-child) {
    border-bottom: 1px solid $color_gray-lighten;
  }

  &__module {
    display: grid;
    padding: 1.5rem 1rem;
    row-gap: 0.6rem;
    column-gap: 0.6rem;
    grid-template-rows: auto 1fr auto;

    border: 1px solid $color_gray-lighten;
    border-radius: 5px;

    color: $color_gray-darken;
    letter-spacing: 0.3px;
    font-family: $font-stack_georgia;
    line-height: $line-height_lg;

    &:hover {
      box-shadow: 2px 4px 8px 1px rgba(0, 0, 0, 0.15);
    }
  }

  &__header {
    grid-area: "title";
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0;
    align-content: flex-start;

    overflow: hidden;
  }

  &__title {
    font-weight: 800;
    line-height: $line-height_md;
    font-family: $font-stack_opensans;
  }

  &__commit {
    font-size: 0.8rem;
    font-family: $font-stack_opensans;
    line-height: $line-height_xl;
    color: lighten($color_gray, 10%);
  }

  &__about {
    display: block;
    grid-area: "about";
    column-span: 2;

    align-content: flex-start;
  }
}

.buttons {
  display: grid;
  align-content: flex-end;
  column-gap: 1rem;
  row-gap: 0.6rem;
  grid-area: "buttons";
  grid-template-columns: repeat(2, minmax(100px, 120px));
}

.button {
  display: flex;
  min-width: 50px;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1rem 0.4rem 1rem;

  line-height: 1.6rem;
  font-family: $font-stack_opensans;
  font-weight: 600;
  text-decoration: none;

  background-color: $color_gray-darken;
  border-radius: 4px;
  transition: color 5s ease;

  &:link {
    color: white;
    text-decoration: none;

    transition: color 0.15s ease-out, background 0.15s ease-in;
  }

  &:visited {
    color: white;
  }

  &:hover {
    background-color: $color_gray;
  }

  &:focus,
  &:active {
    color: white;
  }

  @media only screen and (min-width: $screen-sm) {
    padding: 0.1rem 1rem 0.2rem 1rem;
  }
}

.articles {
  scroll-margin-top: 3rem;

  @media only screen and (min-width: $screen-md) {
    scroll-margin-top: 5rem;
  }

  &__list {
    display: grid;
    row-gap: 0.5rem;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: flex-start;

    color: $color_gray-darken;
    letter-spacing: 0.3px;

    @media only screen and (min-width: $screen-md) {
      grid-column-gap: 2rem;
      align-content: center;
      align-items: start;
      grid-template-columns: 1fr auto;
    }
  }

  &__updated {
    display: grid;
    grid-template-columns: auto 7.5rem;
    column-gap: 0.7rem;
    justify-items: flex-start;
    align-items: center;

    color: $color_gray-lighten;
  }
}

.section-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  color: $color_gray-darken;
  font-family: $font-stack_opensans;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;

  &_h1 {
    font-size: $font-size_h1;
    padding: 0.8rem 0;
  }

  &_h2 {
    font-size: $font-size_h2;
    color: $color_gray-darken;
    padding: 0 0 0.8rem 0;
  }

  &_projects {
    padding: 0.8rem 0;
  }
}

.content {
  max-width: 800px;
}

.lang {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  padding: 0 0 1rem 0;

  font-weight: bold;
  font-family: $font-stack_opensans;
  font-weight: 800;

  &__link {
    color: $color_gray-darken;
    text-decoration: none;

    &:link {
      transition: color 0.35s ease-out;
    }

    &:visited {
      color: $color_gray-darken;
    }

    &:hover,
    &:focus,
    &:active {
      color: $color_gray;
    }
  }
}
