@import "_sass-global.scss";

// *********************
// * Index page styles *
// *********************

.page {
  height: 100%;

  background-color: black;

  scroll-behavior: smooth;
  background-attachment: fixed;

  &__body {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    min-height: 100%;
  }
}

.header {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
  padding: 1rem;

  font-size: 0.85rem;
  color: white;

  background-color: black;

  @media only screen and (min-width: $screen-sm) {
    padding: 2rem;
    font-size: 1rem;
    justify-content: space-between;
  }
}

.my-photo {
  overflow: hidden;
  object-fit: cover;
  border-radius: 100000px;
  width: 40px;
  height: 40px;

  &__img {
    width: auto;
    object-fit: cover;
    transform: scale(1.3);
    height: 40px;
    margin-left: -5px;
  }

  @media only screen and (min-width: $screen-sm) {
    width: 80px;
    height: 80px;

    &__img {
      height: 80px;
    }
  }
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: flex-end;
  column-gap: 1rem;
  overflow: hidden;
  white-space: nowrap;

  font-family: $font-stack_opensans;
  font-size: $font-size_sm;

  @media only screen and (min-width: $screen-sm) {
    font-size: 1rem;
  }

  @media only screen and (min-width: $screen-md) {
    font-size: $font-size_lg;
  }
}

.nav > *:not(:last-child) {
  padding-right: 1.5rem;

  @media only screen and (min-width: $screen-xs) {
    padding-right: 1rem;
  }
}

.main {
  display: grid;
  row-gap: 4em;
}

.section-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;

  color: white;
  font-family: $font-stack_opensans;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;

  @media only screen and (min-width: $screen-sm) {
    padding: 0.8rem 2rem;
  }

  &_h1 {
    font-size: $font-size_h2;
  }

  &_h2 {
    font-size: $font-size_h3;
    color: $color_gray;
  }
}

// Contacts

.contacts {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: flex-start;
  column-gap: 1rem;

  font-family: $font-stack_opensans;
  font-size: $font-size_sm;

  &__link {
    border: 1px solid $color_skin;
    border-radius: 4px;
    padding: 0.3rem 0.45rem;
    display: inline;

    color: $color_skin;
    text-decoration: none;

    &:link {
      transition: color 0.35s ease-out, border 0.35s ease-out;
    }

    &:visited {
      color: $color_skin;
    }

    &:hover,
    &:focus,
    &:active {
      color: white;
      border-color: white;
    }
  }
}

// Projects

.projects {

  &__row {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.5rem 1rem;
    row-gap: 0.6rem;

    color: $color_gray-lighten;
    letter-spacing: 0.3px;
    font-size: $font-size_lg;
    font-family: $font-stack_opensans;
    line-height: $line-height_lg;
    border-bottom: 1px solid $color_gray-darken;;

    @media only screen and (min-width: $screen-sm) {
      padding: 1rem 2rem;
      column-gap: 2rem;
      align-content: center;
      grid-template-areas: "name buttons";
      grid-template-columns: 1fr auto;
    }

    @media only screen and (min-width: $screen-md) {
      grid-template-areas: "name about buttons";
      grid-template-columns: minmax(170px, 0.4fr) 1fr auto;
    }

    @media only screen and (min-width: $screen-xl) {
      grid-template-areas: "name about buttons";
      grid-template-columns: minmax(170px, 0.4fr) 1fr auto;
    }
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.4rem;
    align-content: flex-start;

    overflow: hidden;
  }

  &__title {
    font-weight: 800;
    line-height: $line-height_md;
  }

  &__commit {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.05em; /* always use `em` */
    color: $color_gray-light;
  }

  &__img-svg {
    display: inline-block;
    margin: 0 0.2rem 0 0;
  }

  &__about {
    display: block;

    @media only screen and (min-width: $screen-sm) {
      display: none;
    }

    @media only screen and (min-width: $screen-md) {
      display: block;
    }
  }
}

.buttons {
  display: grid;
  align-items: start;
  align-content: start;
  column-gap: 1rem;
  row-gap: 1rem;

  @media only screen and (min-width: $screen-xs) {
    grid-template-columns: 1fr;
  }

  @media only screen and (min-width: 350px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: $screen-sm) {
    grid-template-columns: 1fr;
  }

  @media only screen and (min-width: $screen-xl) {
    grid-template-columns: 1fr;
  }

  @media only screen and (min-width: 1400px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.button {
  display: flex;
  min-width: 50px;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1rem 0.4rem 1rem;

  font-size: 1rem;
  line-height: 1.6rem;
  font-family: $font-stack_opensans;
  font-weight: 600;
  text-decoration: none;

  background-color: $color_skin;
  border-radius: 4px;
  transition: color 5s ease;

  &:link {
    color: black;
    text-decoration: none;

    transition: color 0.15s ease-out, background 0.15s ease-in;
  }

  &:visited {
    color: black;
  }

  &:hover {
    background-color: white;
  }

  &:focus,
  &:active {
    color: black;
  }

  @media only screen and (min-width: $screen-sm) {
    padding: 0.1rem 1rem 0.2rem 1rem;
  }
}

.articles {
  width: 100%;

  &__row {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    row-gap: 0.6rem;
    justify-items: flex-start;

    color: white;
    letter-spacing: 0.3px;

    @media only screen and (min-width: $screen-sm) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @media only screen and (min-width: $screen-md) {
      padding: 1rem 2rem;
      grid-column-gap: 2rem;
      align-content: center;
      align-items: start;
      grid-template-columns: 1fr auto;
    }

    &:nth-child(2n + 1) {
      background-color: $color_gray-darkest;
    }
  }

  &__updated {
    display: grid;
    grid-template-columns: auto 7.5rem;
    column-gap: 0.7rem;
    justify-items: flex-start;
    align-items: center;

    color: $color_gray;
  }
}

.content {
  padding: 1rem;
  max-width: 800px;

  @media only screen and (min-width: $screen-sm) {
    padding: 1rem 2rem;
  }
}

.lang {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: auto auto;
  padding: 1rem;
  justify-content: flex-start;

  font-weight: bold;
  font-family: $font-stack_opensans;
  font-weight: 800;

  @media only screen and (min-width: $screen-sm) {
    padding: 0 2rem 2rem 2rem;
  }

  &__link {
    color: $color_skin;
    text-decoration: none;

    &:link {
      transition: color 0.35s ease-out;
    }

    &:visited {
      color: $color_skin;
    }

    &:hover,
    &:focus,
    &:active {
      color: white;
    }
  }
}
