# ignore vim session and temp files

*.vim
*.swo
*.swp



# ignore log files and databases

*.log
*.sql
*.sqlite



# ignore compiled files

*.com
*.class
*.dll
*.exe
*.o
*.so



# ignore packaged files

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip



# VS Code
.vscode/                       
*.code-workspace        

# all project source files (docs, graphics, audio, video, ...)           
_source/                        
dist/



# NPM

node_modules/
package-lock.json



# PHP
composer.phar
/vendor/



# other
*~
~*
.*



# Whitelisted Files (track these files, if they exist)

!.gitignore


