.section {
  flex: 1 1 30%;

  &__item {
    margin-bottom: 2em;
  }

  &__heading {
    margin: 0;
  }

  &__buttons {
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  &__button:not(:last-child) {
    margin-right: 1em;
  }

  &__header {
    display: flex;
    flex-flow: column nowrap;

    @media screen and (min-width: $glob_screen-xl) {
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  &__header_vertical-align_top {
    display: flex;
    align-items: flex-start;
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }

  &__tech-stack {
    font-size: $glob_font-size_base / 1.5;
    letter-spacing: 0.1em;
    //max-width: 18em;
  }

  &:not(:last-child) {
    margin-right: 3em;
  }
}
