.section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-row-gap: 2%;

  &__page-main {
    padding: 0 4% 4em 4%;

    @media screen and (min-width: $glob_screen-md) {
      padding: 0 7% 2em 7%;
    }
  }
}

.section__link {
  font-family: Lato;
  font-style: normal;
  color: $glob_dove_gray;

  &:link,
  &:visited,
  &:focus,
  &:hover,
  &:active {
    color: $glob_dove_gray;
  }
}

.section__item {
  @media screen and (min-width: $glob_screen-md) {
    padding: 4%;
  }

  &:hover {
    opacity: 0.9;
    background-color: #fff0e6;
  }
}
