.link {
  text-decoration: none;
  font-family: Georgia;
  font-style: italic;

  &:link,
  &:visited {
    color: $glob_buddha-gold;
  }

  &:link {
    transition: color 0.2s linear;
  }

  &:focus,
  &:hover,
  &:active {
    color: #b38f00;
  }
}
