.link {
  &:link {
    color: $glob_flesh;
    text-decoration: none;
    transition: color 0.2s linear;
  }

  &:visited {
    color: $glob_flesh;
    text-decoration: none;
  }

  &:focus {
    color: $glob_atomic_tangerine;
    text-decoration: none;
  }

  &:hover {
    color: $glob_atomic_tangerine;
    text-decoration: none;
  }

  &:active {
    color: $glob_atomic_tangerine;
    text-decoration: none;
  }
}

.link__icon {
  &:link,
  &:visited,
  &:focus,
  &:hover,
  &:active {
    fill: $glob_flesh;
  }
}
