.link {
  &:link {
    color: $glob_flesh;
    text-decoration: none;
  }

  &:visited {
    color: $glob_flesh;
    text-decoration: none;
  }

  &:focus {
    color: $glob_atomic_tangerine;
    text-decoration: none;
    border-bottom: 1px solid $glob_atomic_tangerine;
  }

  &:hover {
    color: $glob_atomic_tangerine;
    text-decoration: none;
    border-bottom: 1px solid $glob_atomic_tangerine;
    padding-bottom: 4px;
  }

  &:active {
    color: $glob_atomic_tangerine;
    text-decoration: none;
  }
}
