main(class='page-main')

  //- ABOUT ME
  section(class='section')
    h1(class='heading heading_size_h1 section__heading') About me
    p(class='paragraph').
      Привет, меня зовут #[a(href='#', class='link') Андрей], я web-разработчик, специализирующийся на front-end'е. 
    p(class='paragraph').
      Hi, my name is Andrey, I'm a front-end web developer. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Основные ниши, которые большевсего мне интересны это web-типографика, web-анимация, web-аудио и всё, что связано с клиентским JavaScript. 
    p(class='paragraph').
      I work on a LAMP stack, My main tools are: (LAMP Stack) — HTML (Pug) — CSS (SASS) — JavaScript — PHP — Environment: Linux, Webpack, Git Contrary to popular belief, Lore—m Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.

  //- PORTFOLIO
  section(class='section')
    header(class='section__name')
      h1(class='heading heading_size_h1 section__heading') Portfolio 
      a(href='#', class='icon icon_name_github')
        
    div(class='section__item')  
      header(class='section__header section__header_vertical-align_top')
        div(class='section__text')
          h1(class='section__name heading heading_size_h3') Type Test
          div(class='section__tech-stack') HTML, CSS (SASS), JavaScript
        div(class='section__buttons')
          a(href='#', class='button section__button') Demo
          a(href='#', class='button section__button') Github 
      article(class='paragraph').
        Приложение, меня зовут Андрей, я web-разработчик, специализирующийся на front-end'е. Hi, my name is Andrey, I'm a front-end web developer. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over earsршнd.
    div(class='section__item')  
      header(class='section__header section__header_vertical-align_top')
        div(class='section__text')
          h1(class='section__name heading heading_size_h3') Type Test
          div(class='section__tech-stack') HTML, CSS (SASS), JavaScript
        div(class='section__buttons')
          a(href='#', class='button section__button') Demo
          a(href='#', class='button section__button') Github 
      article(class='paragraph').
        Приложение, меня зовут Андрей, я web-разработчик, специализирующийся на front-end'е. Hi, my name is Andrey, I'm a front-end web developer. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over earsршнd.
  
    //- ARTICLES
  section(class='section')
    h1(class='heading heading_size_h1 section__heading') Articles
    h2(class='section__heading heading heading_size_h3') JavaScript
    ul(class='list')
      li #[a(href='#', class='link') JavaScript Values]
      li #[a(href='#', class='link') Statements & Expressions]
      li #[a(href='#', class='link') Variables Operators & Syntax Constructions]
      li #[a(href='#', class='link') Устройство интерпретатора и асинхронность]
      li #[a(href='#', class='link') Synchronous vs Asynchronous]
      li #[a(href='#', class='link') Asynchronous Programming. Promises]
      li #[a(href='#', class='link') Execution Context & Lexical Environment]
      li #[a(href='#', class='link') Hoisting Closures]
      li #[a(href='#', class='link') 'this']
      li #[a(href='#', class='link') Global Object]
      li #[a(href='#', class='link') Global Methods & Properties]
      li #[a(href='#', class='link') Global Objects Modules]
      li #[a(href='#', class='link') Debugging]
    h2(class='heading heading_size_h3 section__heading') PHP
    ul(class='list')
      li #[a(href='#', class='link') CondoManage. Процесс разработки, чась 1]
      li #[a(href='#', class='link') typeTest. Процесс разработки Linux Чистка системы]
