main(class='page-main')
  div(class='section section__page-main')
    a(href='#', class='link') 
      div(class='section__item') 
        img(src='../../img/project-cover.jpg' class='image') 
        h1(class='heading heading_size_h2 section__link') Type Test 
        p(class='heading heading_size_h4 section__link') Web application for testing type design students 
    a(href='#', class='link') 
      div(class='section__item') 
        img(src='../../img/project-cover.jpg' class='image') 
        h1(class='heading heading_size_h2 section__link') Type Test 
        p(class='heading heading_size_h4 section__link') Web application for testing type design students 
    a(href='#', class='link') 
      div(class='section__item') 
        img(src='../../img/project-cover.jpg' class='image') 
        h1(class='heading heading_size_h2 section__link') Type Test 
        p(class='heading heading_size_h4 section__link') Web application for testing type design students 
  article(class='article paragraph') some text