main(class='page-main')

  //- ABOUT ME
  section(class='section')
    h1(class='heading heading_size_h1 section__heading') About me 
    p(class='paragraph').
      Hi, I'm Andrey. I'm a full stack developer, specializing on front-end.
    p(class='paragraph').
      I created my first website in 2003 and since then I'm creating I work on a LAMP stack, My main tools are: (LAMP Stack) — HTML (Pug) — CSS (SASS) — JavaScript — PHP — Environment: Linux, Webpack, Git Contrary to popular belief, Lore—m Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
    p(class='paragraph').
      You can find me online on #[a(href='#', class='link') Github], drop a line in #[a(href='#', class='link') Telegram] or write a letter to #[a(href='#', class='link') info@andreyponomarev.ru]

  //- PORTFOLIO
  section(class='section')
    h1(class='heading heading_size_h1 section__heading')
      header(class='section__name') Projects
      a(href='https://github.com/ponomarevandrey', class='link link__icon heading__icon' aria-hidden='true', focusable='false', title='Github')
        //'link link_type_svg'
        svg(class='icon link__icon')
          use(xlink:href='./img/icons.svg#github')
        span(class='icon__access-label') Github
              
    div(class='section__item')  
      header(class='section__header section__header_vertical-align_top')
        div(class='section__text')
          h1(class='section__name heading heading_size_h2') Type Test
          div(class='section__tech-stack') HTML, CSS (SASS), JavaScript, PHP, MySQL, Node.js, TypeScritp, OOP
        div(class='section__buttons')
          a(href='#', class='button section__button') DEMO
          a(href='#', class='button section__button') GITHUB 
      article(class='paragraph').
        Приложение, меня зовут Андрей, я web-разработчик, специализирующийся на front-end'е. Hi, my name is Andrey, I'm a front-end web developer. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over earsршнd.
    div(class='section__item')  
      header(class='section__header section__header_vertical-align_top')
        div(class='section__text')
          h1(class='section__name heading heading_size_h2') Type Test
          div(class='section__tech-stack') HTML, CSS (SASS), JavaScript
        div(class='section__buttons')
          a(href='#', class='button section__button') DEMO
          a(href='#', class='button section__button') GITHUB
      article(class='paragraph').
        Приложение, меня зовут Андрей, я web-разработчик, специализирующийся на front-end'е. Hi, my name is Andrey, I'm a front-end web developer. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over earsршнd.
  
    //- ARTICLES
  section(class='section')
    h1(class='heading heading_size_h1 section__heading') Articles
    h3(class='section__heading heading heading_size_h2') JavaScript
    ul(class='list')
      li(class='list__item')
        a(href='#', class='link') JavaScript Values
        //hr(class='horizontal-rule list__horizontal-rule horizontal-rule_style_dotted')
        //div(class='list__date') 15 Sept 2019

      li #[a(href='#', class='link') Statements & Expressions]
      li #[a(href='#', class='link') Устройство интерпретатора и асинхронность]
      li #[a(href='#', class='link') Synchronous vs Asynchronous]
      li #[a(href='#', class='link') 'this']
      li #[a(href='#', class='link') Global Object]
      li #[a(href='#', class='link') Global Methods & Properties]
    h3(class='heading heading_size_h2 section__heading') PHP
    ul(class='list')
      li #[a(href='#', class='link') CondoManage. Процесс разработки, чась 1]
      li #[a(href='#', class='link') typeTest. Процесс разработки Linux Чистка системы]
