doctype html
html(lang='en' class='html')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, viewport-fit=cover')
    meta(name='description' content='Description of the page less than 150 characters')
    
    // Displayed in Google search results
    meta(name='keywords' content='веб, разработка')
    meta(name='author' content='Андрей Пономарев')

    // 32x32px 
    link(rel='shortcut icon' href='./favicon/favicon.ico' type='image/x-icon') 

    link(rel='icon' href='./favicon/icon.png' type='image/png')
    // Apple Touch Icon (at least 200x200px)
    link(rel='apple-touch-icon' href='./favicon/custom-icon.png')
    
    title Default Webpack 4 Project Template
  body(class='body')
    // block header
    include ../blocks.common/header/header.pug
    include ../blocks.common/section/section.pug
    include ../blocks.common/footer/footer.pug
    // block content
    // block footer  
      
    footer(class='footer') &copy; 2019, Андрей Пономарев
