hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  box-sizing: content-box;
  overflow: visible; //  Show the overflow in Edge and IE.
}
