.page-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  grid-area: header;
}

.page-header__page-layout {
  @include glob_blank-margins;
  background: $glob_white;
}

.page-header__link {
  &:link {
    text-decoration: none;
    color: $glob_mine_shaft;
  }

  &:visited {
    color: $glob_mine_shaft;
  }

  &:focus {
    color: $glob_dove_gray;
  }
  &:hover {
    color: $glob_dove_gray;
  }

  &:active {
    color: $glob_dove_gray;
  }
}
