.page-header {
  text-align: center;
  padding: 2em 4%;

  @media screen and (min-width: $glob_screen-md) {
    padding: 2em 14%;
  }

  &__link:link {
    text-decoration: none;
    color: $glob_mine_shaft;
    transition: color 0.3s linear;
  }

  &__link:visited {
    text-decoration: none;
    color: $glob_mine_shaft;
  }

  &__link:focus,
  &__link:hover,
  &__link:active {
    text-decoration: none;
    color: $glob_dove_gray;
  }

  &__avatar {
    border-radius: 50%;
    vertical-align: middle;
    width: 8em;
    margin-bottom: 2em;
    //filter: grayscale(100%);
  }
}
