header(class='page-header')
  img(src='../../img/andrey-ponomarev-photo.jpg' class='image page-header__avatar' title='Andrey Ponomarev' alt='Andrey Ponomarev') 
  p(class='heading heading_size_h3') Hi, I'm Andrey, <br> a web developer from Russia, building web applications and websites. <br> #[a(href='mailto: info@andreyponomarev.ru', class='link') info@andreyponomarev.ru] <br> #[a(href='#' class='link') my blog],  #[a(href='https://github.com/ponomarevandrey', class='link') Github]
  //a(href='https://github.com/ponomarevandrey', class='link heading__icon' aria-hidden='true', focusable='false', title='Github')
    span(class='icon__access-label') Github
    svg(class='icon icon__link'): use(xlink:href='./img/icons.svg#github')
 
