header(class='page-header')
  h1(class='heading heading_size_h2') 
    strong(class='strong') Andrey Ponomarev
  h1(class='heading heading_size_h2') 
    a(href='mailto:info@andreyponomarev.ru' class='link page-header__link') info@andreyponomarev.ru
