.list {
  list-style-position: outside;
  list-style: none;
  margin-bottom: 1em;
}

.list__item {
  padding-left: 0;
}

// Modifiers:

.list_style_ordered {
  list-style: decimal;
}

.list_style_unordered {
  list-style: disk;
}
