.paragraph {
  text-indent: 0;
  margin-bottom: 1em; /* space between paragraphs */
  letter-spacing: $glob_letter-spacing_sm-text;
}

@media print {
  .paragraph {
    orphans: 3;
    widows: 3;
  }
}
