.html {
  font-size: $glob_font-size_base;
  color: $glob_white;

  @media screen and (min-width: $glob_screen-md) {
    font-size: 16px;
  }

  @media screen and (min-width: $glob_screen-lg) {
    font-size: 16px;
  }
}
