.html {
  font-size: $glob_font-size_base;
  color: $glob_white;

  @media screen and (min-width: 900px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}
