// *************
// * VARIABLES *
// *************

// Typography
$glob_font-stack_sans-serif: Lato, Arial, Verdana, sans-serif;
$glob_font-stack_serif: Georgia, 'Times New Roman', Times, serif;
$glob_font-stack_monospaced: 'Courier New', Courier, monospace;

$glob_font-size_base: 16px;

$glob_font-size_h1: 2rem;
$glob_font-size_h2: 1.5rem;
$glob_font-size_h3: 1.17rem;
$glob_font-size_h4: 1.12rem;
$glob_font-size_h5: 0.83rem;
$glob_font-size_h6: 0.75rem;

$glob_line-height: 1.5;

$glob_letter-spacing_sm: 0.02rem;
$glob_letter-spacing_lg: 0;

// Colors
$glob_white: white;
$glob_black: #333;
$glob_flesh: #ffccaa;
$glob_atomic_tangerine: #ff9955;
$glob_mine_shaft: #262626;
$glob_dove_gray: #666;
$glob_buddha-gold: #d4aa00;

// Media Quaries
$glob_screen-xs: 0 !default;
$glob_screen-sm: 480px !default;
$glob_screen-md: 768px !default;
$glob_screen-lg: 992px !default;
$glob_screen-xl: 1200px !default;
$glob_screen-xxl: 1800px !default;

// Other
$glob_border-radius: 6px;
$glob_transition-time: 0.3s;

// **********
// * MIXINS *
// **********

@mixin glob_debugger {
  border: 1px solid red;
  background: grey;
  color: red;
}

// *************
// * FUNCTIONS *
// *************
