/* ___________________________________________________________________________

   Variables
   ___________________________________________________________________________*/

$body-font: Georgia, 'Times New Roman', Times, serif;
$header-font: Georgia, 'Times New Roman', Times, serif;
$primary-color: #474750;
$border-radius: 6px;

/* ___________________________________________________________________________

   Mixins
   ___________________________________________________________________________*/

/* просто пример сасс миксина 
Mixins are reusable bits of code, so they’re like a function in programming languages
like JavaScript: You can use a mixin over and over to insert CSS into your finished
CSS file. */

@mixin myMixin {
  display: -webkit-flex;
  display: flex;
}

/* To use a mixin, you use Sass’s @include directive followed by the name of the mixin.
   For example, to turn a page element with the class of 'abc' into ...,
   you could use the mixin like this: */

.abc {
  @include myMixin;
}

/*
After Sass compiles this code, you’ll see the following code in the final CSS file:

.abc {
  display: -webkit-flex;
  display: flex;
}

Of course, you can also include other properties as part of the style after you use
the mixin. For example, if you wanted to assign a background color to the container
and a border, just add that CSS after the mixin, like this:

.container {
  @include flex;
  background-color: #84F;
  border: 1px solid #444;
}

That code will turn into the following CSS:

.container {
  display: -webkit-flex;
  display: flex;
  background-color: #84F;
  border: 1px solid #444;
}

*/

/* ___________________________________________________________________________

   Functions
   ___________________________________________________________________________*/
