/*
 * Index page
 */

:root {
  --font-stack-sans: "Tahoma", "Verdana", "Helvetica", "Open Sans", sans-serif;
  --font-stack-serif: "Faustina", "Georgia", "Big Caslon", "Hoefler Text",
    "Garamond", "Baskerville", "Palatino Linotype", "Times New Roman", "Times",
    serif;
  --font-stack-mono: "Consolas", "PT Mono", "Lucida Console",
    "Lucida Sans Typewriter", "Courier New", "Courier", monospace;

  --font-size-root: 16px;
  --font-size-xs: 0.7rem;
  --font-size-sm: 0.87rem;
  --font-size-lg: 1.2rem;
  --font-size-xl: 1.4rem;

  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.3rem;
  --font-size-h4: 1rem;
  --font-size-h5: 0.8rem;
  --font-size-h6: 0.7rem;

  --line-height-xs: 1.1;
  --line-height-sm: 1.3;
  --line-height-md: 1.5;
  --line-height-lg: 1.7;
  --line-height-xl: 1.9;
  --line-height-xxl: 2.1;

  --color-white: white;
  --color-gray-lightest: #f2f2f2;
  --color-gray-lighten: #cccccc;
  --color-gray-light: #a6a6a6;
  --color-gray: #808080;
  --color-gray-dark: #595959;
  --color-gray-darken: #333333;
  --color-gray-darkest: #1a1a1a;
  --color-black: black;

  --color-link: black;
  --color-code-text: #333;
  --color-code-bg: #ecdcc6;

  --color-skin: #f7f2ed;
  --color-dark-skin: #f2f0ed;
  --color-sand: #997300;
}

html {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-stack-serif);
  font-size: 17px;
  line-height: 1.6;
  min-height: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  color: var(--color-gray-darken);
  max-width: 1000px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 2rem;
  justify-content: flex-start;
  margin-bottom: 2rem;
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 2rem;
  font-weight: 800;
}

.main {
  margin-bottom: 1rem;
}

.header {
  margin-bottom: 1rem;
  padding: 0 1rem 0 1rem;

  font-weight: 400;
  line-height: var(--line-height-sm);
  font-family: var(--font-stack-serif);
  font-size: 1.8rem;
}

.nav a:link {
  color: var(--color-link);
  text-decoration: none;
}
.nav a:visited {
  color: var(--color-link);
}
.nav a:hover {
  color: var(--color-link);
}
.nav a:active {
  color: var(--color-link);
}

.footer {
  padding: 2rem 1rem;
  margin-bottom: 1rem;
}

/*
 * Typography
 */

a:link {
  color: var(--color-link);
  text-underline-offset: 0.3em;
}
a:visited {
  color: var(--color-link);
}
a:hover {
  color: var(--color-link);
}
a:active {
  color: var(--color-link);
}

p {
  margin-bottom: 1rem;
}
ul,
ol {
  display: block;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 2rem;
}

ul ul,
ol ul {
  margin-block-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-stack-serif);
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 800;
  padding: 0 1rem;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: 1.2;
}

h2 {
  font-size: var(--font-size-h2);
  line-height: 1.2;
}

h3 {
  font-size: var(--font-size-h3);
  line-height: 1.3;
}

h4 {
  font-size: var(--font-size-h4);
  line-height: 1.3;
}

h5 {
  font-size: var(--font-size-h5);
  line-height: 1.4;
}

h6 {
  font-size: var(--font-size-h6);
  line-height: 1.5;
}

.bold {
  font-weight: bold;
}

/*
 * Layout
 */

.two-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: row;
  column-gap: 2rem;
  max-width: 1200px;
  padding: 1rem 1rem 0 1rem;
}

.two-column > * {
  margin-bottom: 2rem;
}

.main-devider {
  height: 15px;
  border: 0;
  background-color: black;
}

/*
 * Stack
 * Job History
 */

.stack,
.job-history {
  display: grid;
  grid-template-columns: 130px minmax(170px, 1fr);
  grid-template-rows: row(7, auto);
  column-gap: 2%;
  justify-content: flex-start;
  align-content: flex-start;
}

.job-position {
  font-style: italic;
}

/* 
 * Projects 
 */

.projects {
  display: grid;
  row-gap: 0.5em;

  padding: 0;
}

.project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  padding: 1rem 1rem 1rem 1rem;
  overflow: hidden;
  align-content: flex-start;
}

@media (min-width: 1000px) {
  .project {
    column-gap: 2rem;
    grid-template-areas: "Title Date About . Links";
    grid-template-columns: 13% 8% minmax(30%, 50%) minmax(0, 1fr) auto;
    margin-bottom: 0;
    padding: 0.5rem 1rem;
  }
}

.project__time {
  display: inline-block;
  overflow: hidden;
  margin-block-end: 0.5rem;
}

.project__nav {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
  padding: 0;
  column-gap: 0.5rem;
  margin: 0;
  margin-block-end: 0.5rem;
}

.project__header {
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-block-end: 0.5rem;
}

.project__p {
  margin-block-end: 0.5rem;
}
